<div class="content__title">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <i nz-icon [nzType]="'home'" [nzTheme]="'outline'"></i>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">首页</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      生成文件
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<nz-card [nzBordered]="false" nzTitle="生成后台">
  <nz-card>
    <nz-steps [nzCurrent]="currentStep">
      <nz-step nzTitle="生成Dao" nzDescription="domain生成dao."></nz-step>
      <nz-step nzTitle="生成Service" nzDescription="dao生成service."></nz-step>
      <nz-step nzTitle="生成Controller" nzDescription="service生成controller."></nz-step>
    </nz-steps>
  </nz-card>

  <nz-card style="margin-top: 24px;">
    <div [hidden]="currentStep != 0">
      <app-dao #childdao></app-dao>
      <div class="actions">
        <button nz-button (click)="generateDaoFile()" [nzType]="'primary'">生成</button>
      </div>
    </div>
    <div [hidden]="currentStep != 1">
      <app-service #childservice></app-service>
      <div class="actions">
        <button nz-button (click)="generateServiceFile()" [nzType]="'primary'">生成</button>
      </div>
    </div>
    <div [hidden]="currentStep != 2">
      <app-controller #childcontroller></app-controller>
      <div class="actions">
        <button nz-button (click)="generateControllerFile()" [nzType]="'primary'">完成</button>
      </div>
    </div>
  </nz-card>
</nz-card>
