<div class="content__title">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <i nz-icon [nzType]="'home'" [nzTheme]="'outline'"></i>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">首页</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      文件上传
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<nz-card [nzBordered]="false" nzTitle="文件上传">
  <div *ngIf="fileList">
  <nz-upload
    nzType="drag"
    [nzMultiple]="true"
    [nzFileList]="fileList"
    [nzFileType]="fileType"
    [nzLimit]="10"
    nzAction="/automation/moreFileUpload"
    (nzChange)="handleChange($event)"
    [nzRemove]="handleRemove"
    [nzFileList]="fileList"
  >
    <p class="ant-upload-drag-icon">
      <i nz-icon nzType="inbox"></i>
    </p>
    <p class="ant-upload-text">可点击 可拖拽</p>
    <p class="ant-upload-hint">
      支持上传Java类源文件
    </p>
  </nz-upload>
  </div>
</nz-card>
